<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>后台管理</title>
    <script src="__PUBLIC__/js/jquery-1.11.1.min.js"></script>
    <script src="__PUBLIC__/js/frame.js"></script>
    <link rel="stylesheet" href="__PUBLIC__/css/frame.css">

    <!--[if IE 6]>
    <script src="__PUBLIC__/js/DD_belatedPNG_0.0.8a-min.js"></script>
    <script>
        DD_belatedPNG.fix('.nav ul li a,.top_link ul li,background');   /* string argument can be any CSS selector */
    </script>
    <![endif]-->
</head>
<body class="showmenu">
<div class="pagemask"></div>
<iframe class="iframemask"></iframe>
<div class="head">
<!-- <div class="top_logo"> <img src="__PUBLIC__/images/main/logo.png" /> </div> -->
    <div class="nav" id="nav">
        <ul>
            <foreach name='menu' key='k' item='v'>
            <li id="menu_{$k}">
                <a <empty name='k'>class="thisclass"</empty> href="#" _for="left_menu_{$k}"><b>{$v.name}</b></a>
            </li>
            </foreach>
        </ul>
    </div>
    <div class="top_link">
        <ul>
            <li id="i_self">你好，{$Think.session.yang_adm_username}</li>
            <li id="i_hide_menu"><a href="#" id="togglemenu">隐藏菜单</a></li>
            <li id="i_exit"><a href="{:U('Login/logout')}" target="_top">退出</a></li>
        </ul>
    </div>
</div>
<!-- header end -->

<div class="left">
<div class="span"></div>
<div class="menu" id="menu">
<foreach name='menu' key='k' item='v'>
<div id="items_left_menu_{$k}">
	<volist name='v["child"]' key='k2' id='v2'>
    <if condition='$v2["child"]|count gt 0'>
	<dl id="dl_items_{$k2}_{$k}">
		<dt>{$v2.name}</dt>
		<dd>
		<ul>

            <if condition="$v2['id'] eq 7">

            <volist name='qmenu' key='k3' id='v3'>
            <li><a href="{:U($v3['module'].'/'.$v3['action'].'', $v3['parameter'])}" target="main">{$v3.name}</a></li>
            </volist>

            <else/>

            <volist name='v2["child"]' key='k3' id='v3'>
            <li><a href="{:U($v3['module'].'/'.$v3['action'].'', $v3['parameter'])}" target="main">{$v3.name}</a></li>
            </volist>

            </if>

		</ul>
		</dd>
	</dl>
    </if>
	</volist>
	
</div>
</foreach>
<!-- Item End -->

</div>
</div>
<!-- left end -->

<div class="right">
	<div class="rightContent">
	<iframe id="main" name="main" frameborder="0" scrolling="yes" src="{:U('Public/main')}" ></iframe>
	</div>    
</div>
<!-- right end -->

<div class="qucikmenu" id="qucikmenu">
    <ul>
        <li><a href="#" target="main">快捷菜单</a></li>
    </ul>
</div>
<!-- qucikmenu end -->
</body>
</html>